@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

p.caption {
  color: #777;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

h1 {
  font-family: 'Fredoka', sans-serif;
  color: #7E1CC4;
  font-weight: 700;
  size: 48px;
}

h2 {
  font-family: 'Fredoka', sans-serif;
  color: #1e1e1e;
  font-weight: 400;
  size: 36px;
}

h3 {
  font-family: 'Fredoka', sans-serif;
  color: ##1e1e1e;
  font-weight: 400;
  size: 24px;
}

h4 {
  font-family: 'Fredoka', sans-serif;
  color: ##1e1e1e;
  font-weight: 400;
  text-transform: uppercase;
  size: 18px;
}

p {
  font-family: 'Nunito', sans-serif;
  color: ##1e1e1e;
  font-weight: 400;
  size: 18px;
}

summary {
  font-family: 'Nunito', sans-serif;
  color: ##1e1e1e;
  font-weight: 400;
  size: 18px;
}
ul {
  font-family: 'Nunito', sans-serif;
  color: ##1e1e1e;
  font-weight: 400;
  size: 18px;
}

ol {
  font-family: 'Nunito', sans-serif;
  color: ##1e1e1e;
  font-weight: 400;
  size: 18px;
}

a {
  font-family: 'Nunito', sans-serif;
  color: #ff9c77;
  font-weight: 400;
  size: 18px;
}
